/* Schedule Tab Section Start */
.tbl-container {
  /* padding-top: 25px; */
  overflow-x: auto;
}
.calendar-header {
  background: #ECEDF1;
  border: 1px solid #ECEEF1;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
}
.calendar-header > div {
  flex: 1;
}
.calendar-header > div.calendar-month-controls {
  text-align: right;
  font-weight: 500;
  white-space: nowrap;
  flex: 0.5;
}
@media screen and (min-width: 1200px) {
  .calendar-header > div.calendar-month-controls {
    text-align: center;
    flex: 1;
  }
}
.calendar-header > div.calendar-month-controls span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.2px;
  color: #201D1E;
  margin: 0 10px;
}
@media screen and (min-width: 900px) {
  .calendar-header > div.calendar-month-controls span {
    margin: 0 25px;
    font-size: 1rem;
  }
}
.calendar-header > div.calendar-month-controls a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}
.calendar-header > div.calendar-month-controls a span {
  font-size: 0.75rem;
  opacity: 0.5;
}
.calendar-header > div.current-shift-detail {
  color: #666;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 1.25;
  letter-spacing: 0.2px;
}
@media screen and (min-width: 768px) {
  .calendar-header > div.current-shift-detail {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 768px) {
  .calendar-header > div {
    text-align: center !important;
    padding: 5px;
  }
}

.calendar-weekdays .weekday {
  flex: 1;
  background: #F7F8F9;
  padding: 11px 10px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.625rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2px;
  color: #201D1E;
}
@media screen and (min-width: 768px) {
  .calendar-weekdays .weekday {
    font-size: 0.75rem;
    line-height: 1.25;
  }
}

.calendar-days {
  flex-wrap: wrap;
}
.calendar-days .day {
  width: 14.285%;
  min-height: 50px;
  border: 0.2px dashed #eee;
  padding: 1px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .calendar-days .day {
    min-height: 100px;
  }
}
@media screen and (min-width: 1100px) {
  .calendar-days .day {
    min-height: 150px;
  }
}
.calendar-days .day > div {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 1100px) {
  .calendar-days .day > div {
    justify-content: space-between;
    padding: 0 5px 10px;
  }
}
.calendar-days .day > div span.date {
  color: #201D1E;
  font-weight: 500;
  border-radius: 100%;
  padding: 6px 0;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 0.6875rem;
  line-height: 1.1818181818;
  text-transform: uppercase;
}
@media screen and (min-width: 1100px) {
  .calendar-days .day > div span.date {
    font-size: 0.875rem;
    line-height: 1.2142857143;
    width: 50px;
    height: 50px;
    padding: 16px 0;
  }
}
.calendar-days .day .shift-text {
  color: #666;
  font-size: 0.75rem;
  line-height: 0.8571428571;
}
.calendar-days .day > div.blue {
  background-color: #E9F7FF;
}
.calendar-days .day > div.white {
  background-color: #FFF;
}
.calendar-days .day > div.yellow {
  background-color: #FDF5EA;
}
.calendar-days .day > div.gray {
  background-color: rgba(142, 144, 170, 0.034);
}
.calendar-days .day > div.red {
  background-color: #FFEEEA;
}
.calendar-days .day > div.red .shift-text {
  color: #EE4723;
}
.calendar-days .day > div.disabled {
  background-color: #fff;
  pointer-events: none;
  opacity: 0.3;
}
.calendar-days .day > div.disabled .shift-text {
  opacity: 0.6;
}
.calendar-days .day .date-badge {
  position: absolute;
  top: 12%;
  right: 8%;
}
@media screen and (min-width: 900px) {
  .calendar-days .day .date-badge img {
    width: 13px;
  }
}
.calendar-days .day.active .date {
  background: #46B0E6;
  color: #fff !important;
}
/* .calendar-days .day.active .shift-text {
  color: #46B0E6 !important;
} */
/* Schedule Tab Section End */