/* Dropdowns CSS Start */
.filters-dropdown::part(control),
.filters-dropdown::part(control):hover {
    background-color:#fff;
    border: 0;
    color: #383B56;
    font-size: 0.8571428571428571rem;
    font-weight: 500;
    box-shadow: none !important;
}
.filters-dropdown::part(menu) {
    min-width: 160px;
    position: absolute;
    top: 10px;
    left: auto;
    right: -60px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}
.filters-dropdown .dropdown-item::part(base) {
    margin: 0 10px;
    border-radius: 5px;
    padding: 5px;
}
.filters-dropdown .dropdown-item::part(base):hover { 
    background: #46b0e6; 
    color: #fff;
}
/* Dropdowns CSS End */