.supervisor-flex-request-table > tbody > tr:nth-child(4n+1), 
.supervisor-flex-request-table > tbody > tr:nth-child(4n+2)  {
    background: #FAFAFC;
}
.supervisor-flex-request-table > tbody > tr:nth-child(4n-1), 
.supervisor-flex-request-table > tbody > tr:nth-child(4n)  {
    background: #FFFFFF;
}
.supervisor-flex-request-table .request-agent li {
    margin-left: -20px;
}
.supervisor-flex-request-table .request-agent li:first-child {
    margin-left: 0;
}
.supervisor-flex-request-table .list-style li:nth-child(n+4) {
    display: none;
}
.supervisor-flex-request-table .list-style li:last-child {
    display: block;
    margin-left: 5px;
    color: #999999;
}
.agent-name {
    position: relative;
    display: inline-block;
    opacity: inherit;
    z-index: inherit;
}
.agent-name .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.agent-name .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.agent-name:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.supervisor-flex-request-childrow table thead th {
    padding: 8px;
    text-align: center;
}
.supervisor-flex-request-childrow .first-header-group th {
    background: #EFF0F5;
    border: 1px solid #DDDDDD;
}

.supervisor-flex-request-childrow .second-header-group th {
    background: #FAFAFC;
    border: 1px solid #eeeeee;
}

.supervisor-flex-request-childrow td {
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    padding: 8px;
    text-align: center;
}

.supervisor-flex-request-childrow i2c-button::part(base){
    --i2c-button-default-hover:transparent;
    --i2c-button-default:transparent;
}
.supervisor-flex-request-childrow  i2c-dropdown::part(base){
    --i2c-color-neutral-300: transparent;;
}
.supervisor-flex-request-childrow i2c-dropdown i2c-menu-item {
    background-color: #fff;
}