#secure-header{ padding: 12px 20px 12px 16px; background: #fff; display: flex; /* box-shadow: 0px 5px 10px rgba(141, 144, 172, 0.1); */ border-bottom:1px solid #F5F5FA; position: fixed; width: 100%; top: 0; left: 0; z-index: 999; }
.logo{ width: 40%; display: flex; align-items: center; }
.header-right{ width: 80%; text-align: right;}
.checkout-datetime, .notification, .profile{display: inline-block; vertical-align: middle;}
.checkout-datetime .title{ font-weight: normal; font-size: 14px; line-height: 16px; display: inline-block; vertical-align: middle;}
.checkout-datetime .title .ico-cal{ vertical-align: top;}
.profile, .notification{ margin-left: 29px;}
.profile .profileimg::part(base),
.notification-link::part(base) { font-size: inherit;    line-height: 0;    border: 0;    height: auto; }
.profileimg::part(label), .notification-link::part(label){ padding: 0;}
.btn-checkin{ margin-left: 28px;}
.btn-check-ico{ margin-right: 8px; vertical-align: middle;}




/*******************/
.logo a { margin-right: 12px; }
.logo .logo_text { font-size: 16px; padding-left: 12px; border-left: 2px solid #D5D5E2; }
.header-right .checkout-datetime .ico-cal { margin-right: 6px; }
.header-right .checkout-datetime .checkout-label { color: #666666; font-size: 13px; }
.header-right .checkout-datetime .datetime { color: #201D1E; font-size: 13px; }
.profile-dropdown .profile-menu{ text-align: left; position: absolute; top: 13px; right: -65px; width: 179px; }
.profile-dropdown .profile-menu-item::part(base) { font-size: 14px; padding: 16px 12px 12px 0; color: #000000; }
.profile-dropdown .profile-menu-item:last-child::part(base) { border-top: 1px solid #EFF0F5; }
.profile-dropdown .profile-menu-item::part(base):hover { background: #EDF7FC; }
.profile-dropdown .profile-menu-item .profile-dropdown-icon { margin-right: 12px; height: 12px !important;  }
.profile-dropdown .profile-menu-item .profile-dropdown-icon path { stroke-width: 10%; }
.dropdown-divider { margin: 0; }

.notification-dropdown .notification-menu { width: 400px; text-align: left; position: absolute; top: 22px; right: -25px; }
.notification-dropdown .notification-menu-header-container { display: flex; align-items: center; }
.notification-dropdown .notification-menu-header-container .title { flex-grow: 1; font-size: 20px; font-weight: 500; }
.notification-dropdown .notification-menu-header-container .notification-badge { flex-shrink: 0; }
.notification-dropdown .notification-badge::part(base) { background-color: #EDF7FC; color: #46B0E6; padding: 5px 10px; border-radius: 19px; }
.notification-dropdown .notification-menu-header::part(base), 
.notification-dropdown .notification-menu-item::part(base) { padding: 16px 12px 12px 0; color:#000000; border-left: 2px solid #ffffff; border-bottom: 1px solid #F0F0F0; }
.notification-dropdown .notification-menu-item:last-child::part(base) { border-bottom: 0px; }
.notification-dropdown .notification-menu-item::part(base):hover { background: #EDF7FC; border-left: 2px solid #46B0E6; }
.notification-dropdown .notification-menu-header::part(base):hover { background: #ffffff; }
.notification-dropdown .notification-menu-item .notification-dropdown-icon { margin-right: 12px; border-radius: 50%; padding: 8px; }
.notification-dropdown .notification-menu-item .notification-dropdown-icon.tick { background: #EDFDF3; }
.notification-dropdown .notification-menu-item .notification-dropdown-icon.dollar { background: #ECF8FE; }
.notification-dropdown .notification-menu-item .notification-dropdown-icon.close { background: #F8ECED; }
.notification-dropdown .notification-menu-item .notification-details-text { display: inline-block; white-space: normal; max-width: 300px; vertical-align: middle; }
.p-name{ display: block; color:#000000; font-size: 14px; font-weight: 500; line-height: 16px; margin-bottom: 5px; }
.emp-id{ display: block; color: #666666; font-size: 14px; font-weight: 400; line-height: 14px; }
.emp-id span{ color: #000000;}


@media only screen and (max-width: 767px) {
    .profile, .notification{ margin-left: 20px;}
}