
.flex-time-dialogue h2{   font-style: normal;font-weight: 500;font-size: 18px;line-height: 22px;color: #201D1E; margin-bottom: 25px;}
.flex-time-dialogue .flex-detail {    background: #FFFFFF;    border: 1px solid #E8E8EE;    border-radius: 2px;    padding: 15px;} 